@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1 class="mb-5">My Favorite Movies</h1>
<div class="container">
    <div class="row mb-2">
        <div class="col-8">
            <h2>Avengers Infinity War</h2>
            <p>In the film, the Avengers and the Guardians of the Galaxy attempt to prevent Thanos from collecting the six all-powerful Infinity Stones as part of his quest to kill half of all life in the universe.</p>
        </div>
        <div class="col-4">
            <img src="~/img/avengersinfinitywar.jpg" />
        </div>
    </div>
    <hr />
    <div class="row mb-2">
        <div class="col-8">
            <h2>Avengers Endgame</h2>
            <p>In the film, the Avengers and the Guardians of the Galaxy attempt to prevent Thanos from collecting the six all-powerful Infinity Stones as part of his quest to kill half of all life in the universe.</p>
        </div>
        <div class="col-4">
            <img src="~/img/avengersendgame.jpg" />
        </div>
    </div>
</div>